<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{${'/static/leader_board.css'}}">
    <link rel="stylesheet" type="text/css" th:href="@{${'/static/style.css'}}">
    <link th:href="@{${'/static/img/favicon.ico'}}" rel="icon" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{${'/static/main-sub.js'}}"></script>
    <title>FETC Robolink</title>
    <style>

        .table-container {
            height: 1180px;
            overflow-y: hidden;
            margin-top: 30px;
        }

        .blank {
            height: 290px;
        }
    </style>
</head>
<body>
<div class="main__container">
    <div class="second__container">
        <div class="main__logo">
            <img th:src="@{/static/img/robolink-logo.png}" alt="Robolink Logo">
        </div>
        <div class="star__logo">
            <img th:src="@{/static/img/star.png}" alt="Star Logo">
        </div>
        <div class="page_button">
            <button id="leader_board_button" onClick="location.href='main'">LEADER BOARD</button>
            <button id="top_10_button" onClick="location.href='sub'">TOP 10</button>
        </div>
        <div class="table-container">
            <table th:class="${testers.empty} ? 'hidden' : 'score_table'">
                <thead>
                <tr>
                    <th>  </th>
                    <th> NAME </th>
                    <th> SCHOOL </th>
                    <th> SCORE </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tester, iterStat : ${testers}">
                    <td><span th:text="${iterStat.index + 1}"> NO </span></td>
                    <td><span th:text="${tester.tname}">NAME</span></td>
                    <td><span th:text="${tester.tschool}">SCHOOL</span></td>
                    <td><span th:text="${tester.tscore}">SCORE</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="blank">
        </div>
        <footer class="footer__links">
            <p>
                <span>robolink.com</span>
            </p>
            <div class="footer__icons">
                <img th:src="@{/static/img/linkedin.png}" alt="LinkedIn Logo">
                <img th:src="@{/static/img/instagram.png}" alt="Instagram Logo">
                <img th:src="@{/static/img/facebook.png}" alt="Facebook Logo">
            </div>
        </footer>

    </div>
</div>
<script>
    function autoScroll() {
        var tableContainer = document.querySelector('.table-container');
        tableContainer.scrollTop += 1;
        if (tableContainer.scrollTop + tableContainer.clientHeight === tableContainer.scrollHeight) {
            tableContainer.scrollTop = 0;
        }
    }

    setInterval(autoScroll, 20);
</script>

</body>
</html>
